<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="connectorConfiguration" class="com.lambda.investing.connector.zero_mq.ZeroMqConfiguration">
        <property name="port" value="666"/>
        <property name="host" value="localhost"/>
    </bean>


    <bean id="connectorProvider" class="com.lambda.investing.connector.zero_mq.ZeroMqProvider"
          factory-method="getInstance" init-method="start">
        <constructor-arg index="0" ref="connectorConfiguration"/>
        <constructor-arg index="1" value="1"/>
    </bean>


    <bean id="persistMarketDataConnectorPublisher"
          class="com.lambda.investing.market_data_connector.persist.PersistorMarketDataConnector" init-method="init">
        <constructor-arg index="0" value="${csv.datapath}"/>
        <constructor-arg index="1" value="${parquet.datapath}"/>
        <constructor-arg index="2" ref="connectorProvider"/>
        <constructor-arg index="3" ref="connectorConfiguration"/>
    </bean>


</beans>