<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="60" status="OFF">
    <properties>
        <!-- time-stamp unique to execution instance -->
        <property name="timestamp">${date:yyMMdd_HHmmss}</property>

        <!-- max number of files -->
        <property name="numFiles">100</property>
    </properties>

    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%t] %c{1} - %m%n"/>
        </Console>

        <!--<RollingFile name="file" fileName="${sys:log.path}/${sys:log.appName}_${timestamp}.log"-->
        <!--filePattern="${sys:log.path}/${sys:log.appName}_${timestamp}.log.%d{yyMMdd_HHmmss}">-->
        <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%t] %c{1} - %m%n" />-->
        <!--<Policies>-->
        <!--<SizeBasedTriggeringPolicy size="${sys:log.fileSize}" />-->
        <!--</Policies>-->
        <!--<DefaultRolloverStrategy max="${numFiles}" />-->
        <!--</RollingFile>-->
    </appenders>

    <loggers>
        <!-- trace, debug, info, warn, error, fatal -->
        <!--<root level="${sys:log.level}">-->
        <!--<appender-ref ref="${sys:log.output}" />-->
        <!--</root>-->


        <!--Console info output-->
        <root level="INFO">
            <appender-ref ref="console"/>
        </root>


    </loggers>
</configuration>