*.idea
*.iml
*.csv
*.exe
*.jpg
*.pnl
*.png
*.jpeg
*.log
*.processed
*.parquet
*.cache
*.xlsx
*.pyc
venv
*.pkl
*.norm
*.pyd
*.c
*.html
*.ipynb_checkpoints
trading_algorithms/application.properties

!test/data/**/*.csv
!test/data/**/*.parquet
!test/data/**/*.txt

test/data/ddbb/factor_investing/*_factor_publisher/**/*
/test/data/ddbb/factor_investing/fama_french_factors_*.csv
