*.idea
*.iml
*.csv
*.exe
*.jpg
*.pnl
*.png
*.jpeg
*.log
*.processed
*.parquet
*.cache
*.xlsx
*.pyc
venv
*.pkl
*.norm
*.pyd
*.c
*.html
*.ipynb_checkpoints
backtest/application.properties

!test/data/*.csv
!test/factor_investing/data/**/*.txt
!test/factor_investing/data/**/*.csv
