#jupyter==1.0.0
#tensorflow-gpu==2.1.0
#tensorflow==1.14
#cvxpy==1.1.7
numpy>=1.19.4
pandas>=1.1.4
numba>=0.51.2
onnxruntime==1.6.0
onnx==1.8.0
onnxmltools==1.7.0
tf2onnx==1.7.2
h2o==3.32.0.2
cryptofeed==1.4.1
cryptocompare==0.7.5
python-binance==0.7.3
boto3==1.17.109
cryptofeed==1.4.1
empyrical==0.5.5
git+https://github.com/oanda/oandapy.git
pathos==0.2.8
pyarrow==2.0.0
s3transfer==0.4.2
tqdm==4.61.1
yfinance==0.1.63
alpha-vantage==2.3.1
beautifulsoup4>=4.9.3
dill==0.3.4
#h5py==2.8.0
nose-parameterized==0.6.0
tensorboard>=1.14.0
numerox==4.1.8
numerapi==2.5.2
seaborn>=0.11.0
statsmodels>=0.12.2
mplfinance>=0.12.7a17
